<% provide(:title, 'New Task') %>
      
<h1>タスク新規作成</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <%= form_with(model: @task, url: user_tasks_path(@user), local: true) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { obj: @task } %>
      <!-- <input type="hidden" name="authenticity_token" value="y3C/4dE/t+ZY3D2F5UP8q5BGjLp7KJLT54hjbYnyWBFKy/+TkQ6WB0SmMSfBTseqwvrERqjcz+lrZQGuRzf4LQ=="> -->
      
      <%= f.label :name, class: "label-form" %> <!-- <label class="label-form" for="task_name">名称</label> -->
      <%= f.text_field :name, class: "form-control" %> <!--  <input class="form-control" type="text" name="task[name]"> -->
      
      <%= f.label :description, class: "label-form" %>  <!-- <label class="label-form" for="task_description">詳細</label> -->
      <%= f.text_area :description, rows:5, class: "form-control" %>  <!-- <textarea rows="5" class="form-control" name="task[description]"></textarea> -->
      
      <%= f.submit "新規登録", class: "btn btn-lg btn-primary btn-form" %> <!-- <input type="submit" name="commit" value="新規登録" class="btn btn-lg btn-primary btn-form" data-disable-with="新規登録"> -->
    <% end %>
  </div>  
</div>

      
      
      